<div class="about-text text-center container">
	<h1><b>Find that Art Piece <br>you didn’t even know you needed.</b></h1>
	<p>The Art Room Kampala was born because we know it can be difficult to describe your art taste, to describe the type of painting you are looking for. And where do you start your search? How to find that one, love at first sight, art piece? We thought about how to make this easier and came up with The Art Room, an algorithm based art recommendation engine. Don't search for art, we will recommend it based on your taste and preferences!
		<br> Developed with <i class="fa fa-heart"></i> by Samuel Epodoi</p>
</div>
<div class="img-about img-responsive" style="background-image: url('https://images.unsplash.com/photo-1511980725567-b9b7f0358905?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=da95e47c007f68868406d317f992fb32&auto=format&fit=crop&w=1297&q=80');"></div>