
<div style="background-image: url('https://images.unsplash.com/photo-1502744063339-1f16df671e12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=50c15b1d9b5040437d1890609c60baff&auto=format&fit=crop&w=1061&q=80');" class="img-responsive img-hero text-center">
  <div class="overlay"></div>
    <div class="content-hero">
      <h1>The Art Room </h1>
      <p>Beautiful Artpieces in Kampala Gifted by our awesome artists @paintnightkla and @hatimax256</p>
      <button class="btn btn-primary">Explore Awesome Art Works <i class="fa fa-paint-brush"></i></button>
    </div>
</div>
