
<div style="background-image: url('https://images.pexels.com/photos/187334/pexels-photo-187334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');" 
class="img-responsive img-hero text-center">
  <div class="overlay"></div>
    <div class="content-hero">
      <h1>The Art Room </h1>
      <p>Buy Beautiful Artpieces in Kampala by our awesome artists @paintnightkla</p>
      <button class="btn btn-primary">Explore Awesome Art  <i class="fa fa-paint-brush"></i></button>
    </div>
</div>

<!-- Image Links 
https://images.pexels.com/photos/542556/pexels-photo-542556.jpeg?auto=compress&cs=tinysrgb&h=350

https://images.unsplash.com/photo-1502744063339-1f16df671e12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=50c15b1d9b5040437d1890609c60baff&auto=format&fit=crop&w=1061&q=80

https://images.pexels.com/photos/187334/pexels-photo-187334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940

https://images.pexels.com/photos/207665/pexels-photo-207665.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940


-->

