// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.artpiece-content {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img-artpiece:hover .image {
  opacity: 0.3;
  
}
.img-artpiece:hover .artpiece-content {
  opacity: 1;
  display: block;
}
.img-artpiece{
	padding-bottom: 25px;
}

//Show Paintning Page
